@use "./variables" as *;

.selection-screen {
	flex-direction: column;
	font-size: $large-font;

	&__character-selection {
		display: flex;
		flex-direction: row;
		font-size: $medium-font;

		&__left-arrow, &__right-arrow {
			font-size: $medium-font;
		}
	}

	&__button {
		font-size: $medium-font;
	}
}