@import url("https://fonts.googleapis.com/css2?family=Micro+5&display=swap");

// colours


// fonts
$main-font :  "Micro 5", sans-serif;

// font sizes 
$small-font : 20px;
$medium-font : 30px;
$large-font : 40px;
$extra-large-font: 60px;