@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
}

html {
  background-color: #011d33;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  background-image: url(../assets/loading-page.jpg);
  background-repeat: no-repeat;
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the background image */
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
  height: 100%; /* Set height to 100% of viewport height */
  width: 100%;
}

// classes that are added/removed to the 'screens' when transitioning
.hide {
  display: none;
}

.show {
  display: flex;
}

// ---- LOADING SCREEN STYLING ----

.loading-screen {
  flex-direction: column;
  padding-bottom: 200px;

  &__heading {
    font-size: $large-font;
    margin: 50px;
    text-align: center;
    color: rgb(20, 8, 66);
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.799), 0px 0px 50px white; /* Horizontal offset, vertical offset, blur radius, color */
  }

  &__description {
    font-size: $medium-font;
    margin: 50px;
    text-align: center;
    color: #f5eec9;
    text-shadow: 1px 1px 1px rgba(4, 10, 30, 0.609), 2px 2px 25px black; /* Horizontal offset, vertical offset, blur radius, color */
  }
}

// ---- SELECTION SCREEN STYLING ----

.selection-screen {
  flex-direction: column;
  font-size: $large-font;
  margin: 50px;
  color: white;

  &__name-input {
    font-size: $medium-font;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(4, 10, 30, 0.609),
      2px 2px 5px rgb(177, 237, 255); /* Horizontal offset, vertical offset, blur radius, color */
  }

  &__name-input-box {
    margin: auto;
    width: 50%;
    height: 30px;
    font-size: $medium-font;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
  }

  &__choose-fighter {
    font-size: $large-font;
    text-align: center;
    padding: 20px;
    color: rgb(47, 106, 194);
    text-shadow: 1px 1px 1px rgba(4, 10, 30, 0.609), 2px 2px 5px rgb(0, 0, 0); /* Horizontal offset, vertical offset, blur radius, color */
  }

  &__character-selection {
    display: flex;
    flex-direction: row;
    font-size: $medium-font;
    justify-content: space-between;
    align-content: center;
    padding: 20px;

    &__character-img {
      position: relative;
      background: none;
      height: 200px;
      width: auto;
      filter: drop-shadow(0 0 20px rgb(238, 238, 252)); /* Add a drop shadow */
    }

    &__left-arrow,
    &__right-arrow {
      position: static;
      font-size: $medium-font;
      background: none;
      padding: 5px;
      margin: auto;
      border: none;
      filter: drop-shadow(
        0 0 20px rgba(136, 158, 158, 0.487)
      ); /* Add a drop shadow */
      &:hover {
        transform: scale(1.5);
        transition: 1s;
      }
    }
  }
}

// game screen
.game-screen {
  flex-direction: column;
  font-size: $small-font;
  color: rgb(235, 96, 41);
  text-shadow: 2px 2px 4px rgb(1, 6, 22); /* Horizontal offset, vertical offset, blur radius, color */
  padding: 30px;
  text-align: center;
  
  &__feedback {
    height: 50px;
  }

  &__components {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
  }
}


.character {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;

  &__stats {
    display: flex;
    flex-direction: row;
    font-size: $small-font;

    &__hp {
      padding: 10px;
    }

    &__stamina {
      padding: 10px;
    }

    &__score {
      padding: 10px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    font-size: $medium-font;
    align-items: center;
    font-size: $small-font;
    padding: 30px;

    &__img {
      height: auto;
      width: 100px;
      filter: drop-shadow(0 0 20px rgba(136, 158, 158, 0.487));
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    &__buttons {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    &__atk,
    &__rest,
    &__heal {
      font-size: $small-font;
      padding: 10px;
      margin: auto;
      box-shadow: 0px 20px 40px 0 rgb(0, 0, 0);
      color: white;
      border-radius: 50px;
    }

    &__atk {
      background-color: rgba(222, 97, 97, 0.5);
      &:hover {
        background-color: rgba(241, 14, 14, 0.801);
        transform: scale(1.15);
        transition: 1s;
      }
    }

    &__rest {
      background-color: rgba(45, 45, 165, 0.5);
      padding-left: 15px;
      padding-right: 15px;
      &:hover {
        background-color: rgba(25, 25, 219, 0.801);
        transform: scale(1.15);
        transition: 1s;
      }
    }

    &__heal {
      background-color: rgba(42, 140, 42, 0.5);
      padding-left: 15px;
      padding-right: 15px;
      &:hover {
        background-color: rgba(41, 199, 41, 0.801);
        transform: scale(1.15);
        transition: 1s;
      }
    }
  }
}

.enemy {
  display: flex;
  flex-direction: column;
  font-size: $small-font;
  align-items: center;
  justify-content: space-around;
  justify-self: center;

  &__stats {
    padding-bottom: 40px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    font-size: $small-font;
    align-items: center;

    &__img {
      width: 100px;
      height: auto;
      padding-top: 20px;
      padding-bottom: 40px;
      filter: drop-shadow(
        0 0 20px rgba(178, 7, 32, 0.956)
      ); /* Add a drop shadow */
    }
  }
}

// end screen styling needs to be done too

.game-over-screen,
.end-game-win-screen {
  font-size: $large-font;
  color: white;
  text-shadow: 1px 1px 1px rgba(4, 10, 30, 0.609), 2px 2px 5px rgb(0, 0, 0); /* Horizontal offset, vertical offset, blur radius, color */
  flex-direction: column;
  align-items: center;
  padding: 50px;

  &__content {
    font-size: $small-font;
    color: rgb(233, 23, 23);
  }

  &__img {
    width: 120px;
    height: auto;
    padding: 10px;
    filter: grayscale(100) drop-shadow(0 0 20px rgb(248, 0, 33));
  }
}

.end-game-win-screen {

  &__content {
    color: white;
  }
  &__img {

    filter: drop-shadow(0 0 20px rgb(238, 221, 223));
  }
}

// universal button

.button {
  font-size: $large-font;
  background-color: rgba(30, 18, 78, 0.664);
  border: none;
  border-radius: 50px;
  color: #f1f2ec;
  width: 50%;
  margin: auto;
  text-align: center;
  box-shadow: 0px 30px 50px 0 rgb(0, 0, 0);

  &:hover {
    background-color: rgba(192, 218, 59, 0.76);
    color: #011d33;
    transform: scale(1.15);
    transition: 1s;
  }
}
