@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
}

// classes that are added/removed to the 'screens' when transitioning
.hide {
  display: none;
}

.show {
  display: flex;
}

// ---- LOADING SCREEN STYLING ----

.loading-screen {
  flex-direction: column;
  margin: 50px;

  &__heading {
    font-size: $large-font;
    margin: 50px;
    text-align: center;
  }

  &__description {
    font-size: $medium-font;
    margin: 50px;
    text-align: center;
  }

  &__button {
    font-size: $large-font;
    background-color: blanchedalmond;
    width: 60%;
    margin: auto;
    padding: 5px;
    border: 2px solid black;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

// ---- SELECTION SCREEN STYLING ----

.selection-screen {
  flex-direction: column;
  font-size: $large-font;
  margin: 50px;

  &__name-input {
    font-size: $medium-font;
    text-align: center;
  }

  &__name-input-box {
    margin: auto;
    width: 50%;
    height: 30px;
    font-size: $medium-font;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  &__choose-fighter {
    font-size: $large-font;
    text-align: center;
    padding: 20px;
  }

  &__character-selection {
    display: flex;
    flex-direction: row;
    font-size: $medium-font;
    justify-content: center;
    padding: 20px;

    &__character-img {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    &__left-arrow,
    &__right-arrow {
      font-size: $medium-font;
      padding: 5px;
      margin: auto;
      border: 2px solid black;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }

  &__button {
    font-size: $medium-font;
    background-color: blanchedalmond;
    width: 60%;
    margin: auto;
    padding: 5px;
    border: 2px solid black;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

// game screen
.game-screen {
  flex-direction: column;
  // can be row when bigger screen?
  font-size: $medium-font;
  margin: 50px;
  justify-content: space-between;
  align-items: center;
}
.character {
  &__stats {
    display: flex;
    flex-direction: row;

    &__hp {
      padding: 10px;
    }

    &__stamina {
      padding: 10px;
    }

    &__score {
      padding: 10px;
    }
  }

  &__info {
	display: flex;
	flex-direction: column;
	font-size: $medium-font;
	align-items: center;

	&__img {
		height: auto;
		width: 100px;
	}
  }

  &__actions {
	display: flex;
	flex-direction: row;
	align-items: center;
    &__atk,
    &__rest,
    &__heal {
      font-size: $medium-font;
      padding: 10px;
	  margin: auto;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

	&__atk {
		background-color: red;
	}

	&__rest {
		background-color: blue;
	}

	&__heal {
		background-color: green;
	}
  }
}

// end screen styling needs to be done too